:root {
  --cltr-dark-bg-color-1: #212f45;
  --cltr-dark-bg-color-2: #272640;
  --cltr-dark-bg-color-3: #312244;
  --cltr-dark-bg-color-4: #3e1f47;
  --cltr-dark-bg-color-5: #4d194d;

  --cltr-dark-sec-color-1: #006466;
  --cltr-dark-sec-color-2: #065a60;
  --cltr-dark-sec-color-3: #0b525b;
  --cltr-dark-sec-color-4: #144552;
  --cltr-dark-sec-color-5: #1b3a4b;

  --cltr-dark-text: #d5dadf;
  --cltr-dark-sec-color-5: #4d194d;
}

html[data-theme="dark"] {
  --bs-body-bg: var(--cltr-dark-bg-color-1);
  --bs-body-color: #d5dadf;
}

html[data-theme="dark"] .nav-link {
  --bs-nav-link-color: #6c757d;
  --bs-nav-link-hover-color: var(--bs-body-color);
}

html[data-theme="dark"] .nav-link .nav-link.active {
  --bs-nav-link-color: #6c757d;
  --bs-nav-link-hover-color: var(--bs-body-color);
}

html[data-theme="dark"] .list-group {
  --bs-list-group-bg: #006466;
  --bs-list-group-color: var(--bs-body-color);
  --bs-list-group-action-hover-bg: #065a60;
  --bs-list-group-action-hover-color: --bs-body-color;
}

html[data-theme="dark"] .p-sidebar {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

html[data-theme="dark"] .form-control {
  background-color: #6c757d;
  color: var(--bs-body-color);
}

body {
  transition: background-color 500ms linear;
}

.list-group-flush {
  border-radius: 10px;
}
